<div class="container">
  <h1> Welcome to {{title}}</h1>

  <div class="col-6">
    <form [formGroup]="signupForm">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="fname">
        <span *ngIf="signupForm.get('fname').hasError('required')"> Enter your Name </span>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="lname">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" formControlName="pwd">
      </div>
      <input type="Submit" (click)="postData()" class="btn btn-primary" value="Post Data" [disabled]="!signupForm.valid">
      <input type="Reset" (click)="resetForm()" class="btn btn-secondary ml-2" value="Reset" [disabled]="!signupForm.valid">
    </form>
  </div>

  <router-outlet></router-outlet>
</div>