<div class="container">
  <h1> Welcome to {{title}}</h1>

  <div class="col-6">
    <form [formGroup]='signupForm' (ngSubmit)="postData(signupForm)">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="fname">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="lname">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" formControlName="pwd">
      </div>
      <input type="Submit" class="btn btn-primary" value="Post Data">
    </form>
  </div>

  <router-outlet></router-outlet>
</div>